/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
body .container {
	color: #222222;
}
#header a,
#manual a,
#footer a {
	text-decoration: none;
}

/**************************************/
/*              HEADER                */
/**************************************/
#header {
	padding-top: 15px;
}
#header h1 {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom:1px solid #dddddd;
	margin-top: 0;
}
#header h1 a {
	text-decoration: none;
}
#header h1 span {
	display: block;
	font-size: 0.6em;
	margin-top: 0.6em;
}
/**************************************/
/*             NAVIGATION             */
/**************************************/
#head_nav ul {
	list-style-type: none;
	float: right;
	width: 500px;
	text-align: right;
}
#head_nav li {
	display: inline;
}
.basic-nav .next {
	text-align: right;
}

/** Topic hierarchy menu **/
ul#topic_hierarchy {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 1.15em;
	line-height: 1.5em;
	margin-bottom: 0.9em;
}
ul#topic_hierarchy li {
	background: transparent url(../images/app-icons/bullet_arrow_up.png) no-repeat 0px 2px;
	padding-left: 1.15em;
	margin-left: 0;
	padding-bottom: 0.3em;
	margin-bottom: 0.3em;
	border-bottom: dotted 1px #dddddd;
}

/** Topic group menu **/
ul#topic_group a {
	text-decoration: none;
}
li.currently-viewed a {
	color: #c33;
	font-weight: bold;
}
/**************************************/
/*            MAIN CONTENT            */
/**************************************/
#manual {
	margin-top: 20px;
}
.doc-content {
	padding-top: 10px;
	margin-bottom: 40px;
}

/**************************************/
/*               FOOTER               */
/**************************************/
#footer a {
	color: #999999;
}
#footer a:hover {
	color: #780c0c;
}
#footer .container {
	margin-top: 50px;
	border-top: 1px solid #dddddd;
}
#foot_nav {
	text-align: center;
}
#foot_nav ul {
	list-style-type: none;
	margin: 0.6em 0;
}
#foot_nav li {
	display: inline;
}
#foot_nav li:first-child {
	margin-left: 0;
}
